body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
  }
  
  header,
  footer {
 
  }
  

  body {
     
    margin: 0 auto;
    max-width: 58em;
    padding: 1em 0;

  }
  
  main {

    background: #eaeaea;
    padding: 1em;
    
  }
  header,

  footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
  }